@import "tailwindcss";

@theme {
  --color-primary: #75C5C1;
  --color-light-primary: #E9F5F7;
  --color-secondary-color: #41245F;

  --color-header-color: #1A1C1E;
  --color-text-color: #464B50;
  --color-light-text-color: #6C7278;
  --color-light-gray: #F7F7F7;
  --color-icon-gray: #BAC1CC;
  --color-border-lines: #CDD6E9;
  --color-icon: #7988A9;

  --color-yellow-shade: #FBF4E4;
}


body {
  background: var(--color-light-gray);
  color: var(--text-color-color);
  font-family: Arial, Helvetica, sans-serif;
}